.Sinup-btn{
border:  1px  solid green ;
width: 90px;
font-size: larger;
text-align: center;
margin-left: 80px;
}
.sinup{
    width: 300px;
    height: 400px;
    margin: 350px;
    border: 2px solid green;
    box-shadow: 2px 2px 9px green;

}
.sinup-fields{
    margin: 50px;
}
.sinup-field{
padding: 5px;

}
.sinup_field{
    padding: 8px;

}
.singup-head{
    text-align: center;
}